* {
    font-family: 'Segoe UI', sans-serif;
}

html,
body {
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

#container {
    background: white;
    padding: 26px 32px;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(30, 30, 50, 0.08);
    /* text-align: center; */
}

hr {
    border: 0;
    border-top: 1px solid lightgrey;
}

button {
    font-size: 16px;
    cursor: pointer;
    background: white;
    border: 1px solid #808080;
    border-radius: 5px;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin-top: -5px;
}

.madeWithLove {
    font-size: 14px;
    margin-top: -16px;
    color: #333;
}